:root{
    --white: #F2F3F5;
    --dark-white: #ECECEC;
    --black: #0F233C;
    --blue: #779DCA;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color: var(--white);
}
.navbar{
    position: absolute;
    height: 72px;
    width: 100vw;
    display: flex;
    border-radius: 0px 0px 25px 25px;
    transition: all 0.4s;
}
.discord, .dark_theme{
    position: relative;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    -webkit-tap-highlight-color: transparent;
    width: 42px;
    height: 42px;
    transition: all 0.4s;
}
.discord i, .dark_theme i{
    color: var(--black);
}

.dark_theme{
    border: none;
    outline: none;
    background: none;
    margin: 18px 0px 0px 0px;
}

.discord{
    margin: 20px 0px 0px 0px;
}

.article{
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    margin: auto;
    letter-spacing: 0.25em;
    transition: all 0.4s;
    color: var(--black);
}
.hide{
    visibility: hidden;
    opacity: 0;
}
.show{
    visibility: visible;
    opacity: 1;
}
.sticky{
    position: fixed;
}
.sticky .article{
    letter-spacing: 0;
}
.sticky .navbar{
    background-color: var(--dark-white);
}
.sticky .discord{
    margin: 20px 0px 0px 20px;
}
.sticky .dark_theme{
    margin: 18px 20px 0px 0px;
}
.logo-img img{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding-top: 96px;
    width: 256px;
}
.first{
    margin-top: 0px;
    position: relative;
    width: 100%;
    height: 144px;
    overflow:hidden;
  }
  .first .wave{
    position: absolute;
    bottom:0;
    left:0;
    width: 100%;
    height: 100px;
    background:url('../gallery/wave.png');
    background-size: 1000px 100px;
  }
  .first .wave.wave1{
      animation:animate 30s linear infinite;
      z-index:-1;
      opacity:1;
      animation-delay:0s;
      bottom: 0;
  }
  .first .wave.wave2{
      animation:animate2 15s linear infinite;
      z-index:-2;
      opacity:0.5;
      animation-delay:-5s;
      bottom: 10px;
  }
  .first .wave.wave3{
      animation:animate 30s linear infinite;
      z-index:-3;
      opacity:0.2;
      animation-delay:-2s;
      bottom: 15px;
  }
  .first .wave.wave4{
      animation:animate2 5s linear infinite;
      z-index:-4;
      opacity:0.7;
      animation-delay:-5s;
      bottom: 20px;
  }
  @keyframes animate{
      0%{
          background-position-x: 0;
      }
      100%{
          background-position-x: 1000px;
      }
  }
  @keyframes animate2{
      0%{
          background-position-x: 0;
      }
      100%{
          background-position-x: -1000px;
      }
  }

.welcome{
    background-color: var(--blue);
    height: 24vh;
    width: 100vw;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    color: var(--black);
    text-align: center;
    padding: 20px;
}
.rules{
    background-color: var(--blue);
    padding-bottom: 32px;
}
.content{
    background-color: var(--white);
    margin: 0px 20px;
    border-radius: 25px;
    color: var(--black);
    padding: 32px 0;
    
}
.caption{
    margin: auto auto 16px auto;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
}
.text{
    padding: 0 20px 20px 20px;
}
.list{
    margin: 0 40px;
}
a{
    text-decoration: none;
    font-weight: 700;
    color: #779DCA;
    -webkit-tap-highlight-color: transparent;
}
.second{
    background-color: var(--blue);
    position: relative;
    width: 100%;
    height: 144px;
    overflow:hidden;
  }
  .second .wave{
    position: absolute;
    bottom:0;
    left:0;
    width: 100%;
    height: 100px;
    background:url('../gallery/wave1.png');
    background-size: 1000px 100px;
  }
  .second .wave.wave1{
      animation:animate 30s linear infinite;
      z-index:4;
      opacity:1;
      animation-delay:0s;
      bottom: 0;
  }
  .second .wave.wave2{
      animation:animate2 15s linear infinite;
      z-index:3;
      opacity:0.5;
      animation-delay:-5s;
      bottom: 10px;
  }
  .second .wave.wave3{
      animation:animate 30s linear infinite;
      z-index:2;
      opacity:0.2;
      animation-delay:-2s;
      bottom: 15px;
  }
  .second .wave.wave4{
      animation:animate2 5s linear infinite;
      z-index:1;
      opacity:0.7;
      animation-delay:-5s;
      bottom: 20px;
  }
  @keyframes animate{
      0%{
          background-position-x: 0;
      }
      100%{
          background-position-x: 1000px;
      }
  }
  @keyframes animate2{
      0%{
          background-position-x: 0;
      }
      100%{
          background-position-x: -1000px;
      }
  }
footer{
    padding-bottom: 32px;
    background-color: #fff;
}
.foot{
    background-color: #fff;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #0F233C;
    text-align: center;
    padding: 0 20px;
    margin: 0;
}